@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

a:hover {
  @apply text-primary;
}

.animate,
a,
a:hover {
  transition: all 0.5s ease-in-out;
}
.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.sidebar-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

/* Anybody: contrôle direct de l’axe de largeur */
.font-ultra-condensed {
  font-variation-settings: "wdth" 50;
   font-stretch: 50%;
}
.font-condensed {
  font-variation-settings: "wdth" 75;
  font-stretch: 75%;
}
.font-normal-stretch {
  font-variation-settings: "wdth" 100;
  font-stretch: 100%;
}
.font-extended {
  font-variation-settings: "wdth" 125;
  font-stretch: 125%;
}
.font-ultra-extended {
  font-variation-settings: "wdth" 150;
   font-stretch: 150%;
}
